{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container p-5">
    <h4>Acerca de nosotros...</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque cumque sint laboriosam ipsa repellat tempora
        alias, labore soluta iure nulla eos autem quod incidunt tempore. Provident quis culpa debitis atque explicabo
        eos veniam minima consequuntur aspernatur nulla dicta nam consectetur tempore ipsum eligendi placeat soluta,
        ipsam quod pariatur nobis optio neque alias! Tenetur ea repudiandae repellat quia iste eaque unde ad nemo,
        molestias deleniti distinctio cum fugiat numquam doloremque nisi, veniam perferendis recusandae, quas esse
        provident? Id rerum eius exercitationem soluta modi, mollitia consequuntur eos cumque animi impedit iste sint,
        iure numquam porro culpa voluptates repellendus nulla accusamus ex explicabo, incidunt nihil! Aliquam sunt
        fugiat sapiente consequuntur reprehenderit rerum perferendis voluptatem perspiciatis quibusdam. Natus commodi
        dolore sequi pariatur odit magni non veritatis minima harum hic, architecto rem adipisci omnis mollitia numquam
        possimus saepe suscipit! Id, reiciendis neque. Dolore non porro, praesentium reprehenderit illo quaerat
        doloribus, nam exercitationem, molestias quos pariatur!
    </p>
</div>
{% endblock %}